body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.intro {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/intro.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.entree {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/PorteEntree.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.couloirPublic {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/CouloirPublic.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.CuisinesAvecCle {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/CuisinesAvecCle.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.JumpscareMeatballMike {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/JumpscareMeatballMike.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.CuisinesSansCle {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/CuisinesSansCle.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.SallePrincipale {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/SallePrincipale.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.CouloirPrincipal {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/CouloirPrincipal.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.CouloirPrincipalIntersection {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/CouloirPrincipalIntersection.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.BackstageDoorFermee {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/BackstageDoorFermee.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.BackstageDoorOuverte {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/BackstageDoorOuverte.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.BackstageAvecCle {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/BackstageAvecCle.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.BackstageSansCle {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/BackstageSansCle.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.StorageDoor {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/StorageDoor.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.StorageDoorOuverte {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/StorageDoorOuverte.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.StorageAvecCassette {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/StorageAvecCassette.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.StorageSansCassette {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/StorageSansCassette.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.CouloirPrincipalIntersection {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/CouloirPrincipalIntersection.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.AileDroite {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/AileDroite.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.SafeRoomSansCassette {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/SafeRoomSansCassette.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

.SafeRoomCassette1 {
    position: relative;
    min-height: 700px;
    height: 100vh;
    aspect-ratio: 16/9;
    background: url("../Images/SafeRoomCassette1.png") center/cover no-repeat;
    margin: 24px auto;
    color: rgb(255, 255, 255);
    object-fit: contain;
}

@font-face {
    font-family: horror;
    src: url('/Font/HororDramaDemoRegular.ttf');
}

h1 {
    position: relative;
    text-align: center;
    top: 16px;
    left: 20px;
    padding: 12px 16px;
    letter-spacing: 3px;
    color: rgba(82, 82, 82, 0.781);
    font-family: horror;
}

#description {
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 50px;
    padding: 12px 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
}

#Disclaimer {
    color: rgb(0, 255, 149);
    font-weight: bold;
}

#motCle {
    color: rgb(255, 122, 255);
    font-weight: bold;
}

#items {
    color: rgb(0, 255, 0);
    font-weight: bold;
}

#lienPorteEntree {
    position: absolute;
    width: 5.2%;
    height: 9.5%;
    top: 42.5%;
    left: 54.3%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienPorteEntree2 {
    position: absolute;
    width: 10%;
    height: 25%;
    top: 28%;
    left: 59%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCuisinesAvecCle {
    position: absolute;
    width: 10%;
    height: 40%;
    top: 20%;
    left: 25%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCouloirPublicToStorageDoor {
    position: absolute;
    width: 10%;
    height: 30%;
    top: 30%;
    left: 62%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCouloirPublicToSallePrincipale {
    position: absolute;
    width: 13%;
    height: 70%;
    top: 5%;
    left: 85%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCuisinesSansCle {
    position: absolute;
    width: 2%;
    height: 2%;
    top: 49%;
    left: 31%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCuisinesToCouloirPublic {
    position: absolute;
    width: 10%;
    height: 40%;
    top: 35%;
    left: 0%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienSallePrincipaleToCouloirPublic {
    position: absolute;
    width: 10%;
    height: 30%;
    top: 28%;
    left: 3%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCouloirPrincipal {
    position: absolute;
    width: 6%;
    height: 25%;
    top: 28%;
    left: 93%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienBackstageDoorFermee {
    position: absolute;
    width: 4%;
    height: 25%;
    top: 40%;
    left: 42%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCouloirPrincipalIntersection {
    position: absolute;
    width: 15%;
    height: 20%;
    top: 38%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCouloirPrincipalToSallePrincipale {
    position: absolute;
    width: 10%;
    height: 50%;
    top: 28%;
    left: 1%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienBackstageDoorToCouloirPrincipal {
    position: absolute;
    width: 10%;
    height: 50%;
    top: 28%;
    left: 1%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienBackstageDoorOuverte {
    position: absolute;
    width: 5%;
    height: 7%;
    top: 52%;
    left: 59%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienBackstageAvecCle {
    position: absolute;
    width: 15%;
    height: 50%;
    top: 34%;
    left: 53%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienBackstageSansCle {
    position: absolute;
    width: 2%;
    height: 3%;
    top: 49%;
    left: 52.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienBackstageToCouloirPrincipal {
    position: absolute;
    width: 10%;
    height: 45%;
    top: 29%;
    left: 1%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienStorageDoorOuverte {
    position: absolute;
    width: 2%;
    height: 3%;
    top: 49.5%;
    left: 59.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienStorageDoorToCouloirPublic {
    position: absolute;
    width: 35%;
    height: 10%;
    top: 85%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienStorageAvecCassette {
    position: absolute;
    width: 4.5%;
    height: 15%;
    top: 45%;
    left: 56%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienStorageSansCassette {
    position: absolute;
    width: 6%;
    height: 8%;
    top: 50%;
    left: 54%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienStorageToCouloirPublic {
    position: absolute;
    width: 35%;
    height: 10%;
    top: 85%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienAileDroite {
    position: absolute;
    width: 19%;
    height: 55%;
    top: 5%;
    left: 80%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienAileGauche {
    position: absolute;
    width: 10%;
    height: 55%;
    top: 5%;
    left: 17%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienCouloirPrincipalIntersectionToCouloirPrincipal {
    position: absolute;
    width: 35%;
    height: 10%;
    top: 85%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienSafeRoomSansCassette {
    position: absolute;
    width: 13%;
    height: 30%;
    top: 32%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienExitFermee {
    position: absolute;
    width: 20%;
    height: 60%;
    top: 15%;
    left: 77%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienAileDroiteToCouloirPrincipalIntersection {
    position: absolute;
    width: 35%;
    height: 10%;
    top: 85%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienSafeRoomCassette1 {
    position: absolute;
    width: 12%;
    height: 10%;
    top: 52%;
    left: 51.5%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#lienSafeRoomSansCassetteToAileDroite {
    position: absolute;
    width: 35%;
    height: 10%;
    top: 85%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#restartButtonImg{
    position: absolute;
    width: 4%;
    top: 86.5%;
    left: 90%;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

/* Effet hover : le bloc grossit légèrement et change de couleur */
#lienPorteEntree:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienPorteEntree2:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienCuisinesAvecCle:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienCouloirPublicToStorageDoor:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienCouloirPublicToSallePrincipale:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienCuisinesSansCle:hover {
    background-color: rgba(0, 255, 0, 0.5);
    transform: scale(1.1);
}

#lienCuisinesToCouloirPublic:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienSallePrincipale:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienSallePrincipaleToCouloirPublic:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienCouloirPrincipal:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienBackstageDoorFermee:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienCouloirPrincipalIntersection:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienCouloirPrincipalToSallePrincipale:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienBackstageDoorToCouloirPrincipal:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienBackstageDoorOuverte:hover {
    background-color: rgba(0, 255, 0, 0.5);
    transform: scale(1.1);
}

#lienBackstageAvecCle:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienBackstageSansCle:hover {
    background-color: rgba(0, 255, 0, 0.5);
    transform: scale(1.1);
}

#lienBackstageToCouloirPrincipal:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienStorageDoorOuverte:hover {
    background-color: rgba(0, 255, 0, 0.5);
    transform: scale(1.1);
}

#lienStorageDoorToCouloirPublic:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienStorageAvecCassette:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienStorageSansCassette:hover {
    background-color: rgba(0, 255, 0, 0.5);
    transform: scale(1.1);
}

#lienStorageToCouloirPublic:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienCouloirPrincipalIntersectionToCouloirPrincipal:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienAileDroite:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienAileGauche:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienSafeRoomSansCassette:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienExitFermee:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienAileDroiteToCouloirPrincipalIntersection:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#lienSafeRoomCassette1:hover {
    background-color: rgba(0, 255, 0, 0.5);
    transform: scale(1.1);
}

#lienSafeRoomSansCassetteToAileDroite:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

#restartButtonImg:hover {
    transform: scale(1.1);
}